*.map
*.pdb
link.args
link.tmp
objects
t
backup
ASAN-report.txt
MLAT-ADS-B-Reference-Guide.pdf
gmap-orig.html
go.bat
run.bat
PlanePlotter
doxy-docs
NOTES
Debug/
Release/
.vs/
Dump1090.vcxproj.filters
Dump1090.vcxproj.user
aircraftDatabase.csv
doc8643AircraftTypes.csv
doc8643Manufacturers.csv
favicon.ico
favicon.png
testfiles/modes1.bin.png
cpp_filter.py
*.i