#
# Config-file for SBS mode and JetVision's 'rtl1090.beta3.exe'.
#
# Use this as:
#  dump1090.exe --net-active --interactive --config host-sbs.cfg
#
# (or via run-rtl1090.bat --sbs)
#
# The JetVision program listens on port 30003 by default
# Hence define the address+port to 'tcp://localhost:30003' below.
#
include = %~dp0\dump1090.cfg

location = true
logfile  = %~dp0\host-sbs.log

host-sbs-in = tcp://localhost:30003  # Remote host/port for SBS input with `--net-active'.

#
# Disable RAW-IN by a "None" value.
# Thus enabling only SBS-IN.
#
host-raw-in = None

#
# To veritfy reception of data, use:
#   "c:\> ncat localhost 31001" for RAW-IN
#   "c:\> ncat localhost 30003" for SBS-IN
#
