name: MSBuild

on: [push]

env:
  SOLUTION_FILE_PATH: Dump1090.sln

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: true
      matrix:
        BUILD_CONFIGURATION: [ Release ]
        BUILD_PLATFORM:      [ x86, x64 ]

    steps:
    - uses: actions/checkout@v2

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1

    - name: Build
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: msbuild /m /p:Configuration=${{matrix.BUILD_CONFIGURATION}} /p:Platform=${{matrix.BUILD_PLATFORM}} ${{env.SOLUTION_FILE_PATH}}

# test:
#   steps:
#    run:  start dump1090 --max-messages 20 --debug Gn --net --logfile dump1090.log
#          py.exe -3 tools\SBS_client.py --host localhost --wait 10 --port 30001 raw-out
#